<!doctype html>
<html ng-app="restaurantPricing">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
    <script src="controllers/PizzaController.js"></script>
    <script src="controllers/IceCreamController.js"></script>
    <script src="services/PurchasesFactory.js"></script>
    <link rel='stylesheet' href="css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div ng-controller="PizzaCtrl">
        <h2>Fun day food!</h2>
        <p>
          Pizza x {{pieces}}
        </p>
        <p><a ng-click="addPiece()">One more piece!</a></p>
        <p><a ng-click="dropPiece()">One less piece!</a></p>
        <p>{{finalPrice}}</p>
      </div>
      <div ng-controller="IceCreamCtrl">
        <p>
          Ice Cream x {{cones}}
        </p>
        <p><a ng-click="addCone()">One more cone!</a></p>
        <p><a ng-click="dropCone()">One less cone!</a></p>
      </div>
    </div>
  </body>
</html>
